.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(223, 219, 219);
}

.loginText{
    font-size: 20px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 5px;
}
.loginInput{
    width: 300px;
    height: 35px;
    border-radius: 15px;
}

.loginButton{
    background-color: green;
    color: white;
    padding: 8px;
    margin-top: 8px;
    width:300px ;
    border-radius: 15px;
    cursor: pointer;
}

.forgotPassword{
    color: blue;
    margin-left: 80px;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.signupButton{
    background-color: green;
    color: white;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 120px;
}

.loginLeftName{
    color: blue;
    font-size: 33px;
    letter-spacing: 2px;
    text-align: center;
}

.loginLeftDes{
    font-size: 15px;
}
.loginLeft{
    margin: 0px 30px 0px 0px;
}

.loginLeftImg{
    height: 50px;
    width: 50px;
    margin-left: 200px;
}

.loginRightContainer{
    background-color: whitesmoke;
    padding: 35px;
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
}