.topbarcontainer{
    height: 50px;
    width: 100%;
    background-color: skyblue;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 9999;
}

.topbar-left{
    flex: 2;
}
.topbar-center{
    flex: 5;
}
.topbar-right{
    flex: 5;
}

.logo{
    font-size: 28px;
    font-weight: 600;
}
 .topbar-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbar{
    width: 90%;
    height: 25px;
}
.topbar-links{
    display: flex;
} 

.topbar-link{
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
}

.topbar-icons{
    display: flex;
    justify-content: space-around;
    width: 200px;
}

.icons{
    font-weight: bold;
    border: 1px solid white;
    padding: 4px 8px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
.topbar-icon-item{
    position: relative;
}
.topbarIconbadge{
    color: white;
    font-size: 12px;
    padding: 0px 3px;
    border: 1px solid red;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: 18px;
    bottom: 13px;
    font-weight: bold;
}

.logoutButton{
    padding: 7px;
    background-color: red;
    color: white;
    cursor: pointer;
    border: none;
    margin-top: 7px;
}
.logoutButton:focus{
    outline: none;
}

.topbarPicture{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}


